{% extends 'sub.html' %}
{% block title %} Accomadation {% endblock %}
{% load static %}
{% block content %}
<div>
    <img class="w-100" src="{% static 'images/image4.jpg' %} " width='100%' height="640px" alt="First slide">
</div>
<div class="row justify-content-center">
    <div class="container col-md-3 p-3 m-3 ">
        <br><hr>
        <h1>WHEN YOU ARE WITH US, BE IN YOUR COMFORT ZONE</h1><p></p>
        <hr>
    </div>
    <br>
    <div class="container col-md-8 p-3 m-3 right-box text-content">
        <p style="text-align: justify;"><br> <br> Featuring 108 contemporary guestrooms and suites, the hotel's topmost priority is the guest's comfort and maintaining the highest quality standard in hospitality.<br> While making the guest feel at ease and well looked after, our friendly staff and excellent room facilities like the flat-screen HDTV, free Wi-Fi, ipod docks, and round-the-clock room service, make sure that the stay is memorable. You'll be reassured to find that the use of eco-friendly materials is complemented by cutting-edge technology so that your luxury is truly sustainable. <br>From recycled paper and a 'no plastic' effort, we care about every detail when you choose us as a stay in Chennai because every small thing matters.</p><p></p>
        <br><hr>
    </div>
</div>
<div class="row justify-content-center m-3">
    <div class=" col-sm-3 left-box image-content-wrapper" data-simp-content-parent="true" >
        <img  src="{% static 'images/r2.jpg'%}" height="300px" width="300px">
    </div>
    <div class="col-sm-8 right-box text-content" >
        <div class="text-content-wrapper">
            <h2 class="m-2 p-2">Deluxe Room</h2>
            <p class="m-2 p-2">Our Deluxe Rooms on St. Mary's Road are fashioned to fit the needs of all types of travellers. Functionality meets modern simplicity in our spacious Deluxe Rooms complete with a cosy queen or twin bed, writing desk and flat-screen TV. Guests enjoy eco-friendly bath products and wireless internet connectivity in the comforts of upscale design.</p>
            <div><span class="txt-wdgt-btn-wrapper" style="text-align: left;"><a class="btn txt-wdgt-btn btn-default pull-left" href="" target="_blank">
                 <span class="text bg-light p-2 m-2">Book Now</span></a>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center m-3">
    <div class=" col-sm-3 left-box image-content-wrapper" data-simp-content-parent="true" >
        <img  src="{% static 'images/r3.jpg'%}" height="300px" width="300px">
    </div>
    <div class="col-sm-8 right-box text-content" >
        <div class="text-content-wrapper">
            <h2 class="m-2 p-2">Club Room</h2>
            <p class="m-2 p-2">Unwind and relax in our spacious club rooms located on the 6th and 7th floors, featuring queen beds with cosy duvets and feather pillows. Glass partition between room and bath creates a lavish ambiance in our rooms.</p>
            <div><span class="txt-wdgt-btn-wrapper" style="text-align: left;"><a class="btn txt-wdgt-btn btn-default pull-left" href="" target="_blank">
                 <span class="text bg-light p-2 m-2 ">Book Now</span></a>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center m-3">
    <div class=" col-sm-3 left-box image-content-wrapper" data-simp-content-parent="true" >
        <img  src="{% static 'images/r4.jpg'%}" height="300px" width="300px">
    </div>
    <div class="col-sm-8 right-box text-content" >
        <div class="text-content-wrapper">
            <h2 class="m-2 p-2">Executive Suite</h2>
            <p class="m-2 p-2">Our spacious suites embody comfort and sophistication with enhanced interior design. Enjoy the experience with a spacious sitting area, 48-inch flat screen HDTV, luxury bedding with electronic bedside controls, free Wi-Fi and a 2-way airport transfer.</p>
            <div><span class="txt-wdgt-btn-wrapper" style="text-align: left;"><a class="btn txt-wdgt-btn btn-default pull-left" href="" target="_blank">
                 <span class="text bg-light p-2 m-2 ">Book Now</span></a>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center m-3">
    <div class=" col-sm-3 left-box image-content-wrapper " data-simp-content-parent="true" >
        <img  src="{% static 'images/r5.jpg'%}" height="300px" width="300px">
    </div>
    <div class="col-sm-8 right-box text-content" >
        <div class="text-content-wrapper">
            <h2 class="m-2 p-2">Presidential Suite</h2>
            <p class="m-2 p-2">Luxuries Suite with bedroom and a living room, kitchenette, two-way airport transfer & happy hours between 7 p.m. to 8 p.m</p>
            <div><span class="txt-wdgt-btn-wrapper" style="text-align: left;"><a class="btn txt-wdgt-btn btn-default pull-left" href="" target="_blank">
                 <span class="text bg-light p-2 m-2 ">Book Now</span></a>
                </span>
            </div>
        </div>
    </div>
</div>




{% endblock %}