{% extends 'sub.html' %}
{% block title %} Events {% endblock %}
{% load static %}
{% block content %}

<div>
    <img class="w-100" src="{% static 'images/every1.jpg' %} " width='100%' height="640px" alt="First slide">
</div>
<div class="nav justify-content-center " >
    <div class="container col-sm-5 p-3 m-3 text-white">
        <hr><br>
        <h1>WE REALLY LOVE TO KEEP THINGS INTERESTING AND EXCITING!</h1><br>
        <hr>    
    </div>
    <div class="container col-sm-5 p-3 m-3 text-white">
        <p style="text-align:justify;">The Sunday brunch at Colony<br>
            Enjoy a sumptuous and laid back Sunday Brunch at our homely restaurant, Colony, located at the lobby level. The meal comes complete with delicious international food and soft drinks, and is the perfect way to kick off the Sunday afternoon with friends and family. The brunch is served from 12:00 Noon to 3:30 PM.
            <br>
            <strong>Contact information for F&B and banquets:</strong> +91 - 44- 42 252525/ 24 304050
            <strong> Email: </strong>mail@raintreehotels.com
            <ul>
            <li>Asian Stir Fry
            <li>Business Lunch @ Chap Chay</li>
            <li>Happy Hours</li>
            <li>We host the kids @ CHAP CHAY</li>
        </ul>
        </p>
    </div>
</div>

{% endblock %}