{% extends 'main.html' %}
{% block title %} Every {% endblock %}
{% block content %}
{% load static %}
<div id="carouseldemo" class="carousel slide" data-bs-ride="carousel" data-bs-wrap="true">
  <div class="carousel-indicators">
    <button data-bs-target="#carouseldemo" data-bs-slide-to="0" class="active"></button>
    <button data-bs-target="#carouseldemo" data-bs-slide-to="1" class="active"></button>
    <button data-bs-target="#carouseldemo" data-bs-slide-to="2" class="active"></button>
    <button data-bs-target="#carouseldemo" data-bs-slide-to="3" class="active"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="w-100" src="{% static 'images/every1.jpg' %}"  width='100%' height="640px" alt="First slide">
      <div class="carousel-caption">
        <h2>The Moonlight Resart</h2>
      </div>
    </div>
    <div class="carousel-item active">
      <img class="w-100" src="{% static 'images/every2.jpg' %}" width='100%' height="640px" alt="Second slide">
    </div>
    <div class="carousel-item active">
      <img class="w-100" src="{% static 'images/every3.jpg' %}" width='100%' height="640px" alt="Third slide">
    </div>
    <div class="carousel-item active">
      <img class="w-100" src="{% static 'images/every4.jpg' %}" width='100%' height="640px" alt="Third slide">
    </div>
  </div>
  <button class="carousel-control-prev" data-bs-target="#carouseldemo" type="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </button>
  <button class="carousel-control-next" data-bs-target="#carouseldemo" type="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </button>
</div>

<div class="row justify-content-center">
  <div class="container col-md-3 p-3 m-3 text-white f5"  ><hr>
    <h1 class="text-white f4">A HOTEL THAT CARES ABOUT YOUR EVERY NEED DESIRE</h1><p></p><hr>
  </div>
  <div class="container col-md-7 p-3 m-3 text-white" >
    <p style="text-align: justify;">Our 2 hotels in Chennai extend a warm-hearted welcome with modern decor, spacious accommodations, personalised attentive service and facilities that take care of your every need and every desire. We thrive on our guests' satisfaction and happiness and do everything to make their stay at The Moonlight Hotels a joyful and memorable one because our guest satisfaction truly matters.<br> <br> 
                Tailoring our services to suit the requirements of each guest is our speciality. While upholding high standards of quality service, The Moonlight Hotels continuously strives towards setting new benchmarks in the world of hospitality.For us each tiny detail matters because 
                we want to take care of you in all ways possible. We believe in finding the right balance between style, comfort, service and your happiness. Because for us, everything matters.</p>
  </div>
</div>
<div class="d-flex justify-content-center text-white m-3">
  <div class="container row ">
    <div class="container col-4">
      <a class="" href="{% url 'home'%}"><img  src="{% static 'images/gallery.jpeg'%}" height="300px" width="300px"></a>
      <h5 class=" text-white m-2">Miracle Happens!</h5>
      <p class=" text-white m-2">Home</p>
    </div>
    <div class="container col-4">
      <a class="" href="{% url 'branch1'%}"><img  src="{% static 'images/branch1.jpg'%}" height="300px" width="300px"></a>
      <h5 class="m-2 text-white">The Boutique Hotel!</h5>
      <p class="m-2 text-white">St Mary's Road</p>
    </div>
    <div class="container col-4">
      <a class="" href="{% url 'branch2'%}"><img  src="{% static 'images/branch2.jpg'%}" height="300px" width="300px"></a>
      <h5 class="m-2 text-white">The big Business hotel!</h5>
      <p class="m-2  text-white">Annasalai</p>
    </div>
  </div>
</div>
        
{% endblock %}