{% extends 'sub.html' %}
{% block title %} Reservation {% endblock %}
{% load static %}
{% block content %}
<div>
    <img class="w-100" src="{% static 'images/image4.jpg' %} " width='100%' height="640px" alt="First slide">
</div>
<div class="row justify-content-center m-2 text-white">
    <div class="container col-md-5 ">
        <br><hr>
        <h1>WE JUST CAN’T WAIT FOR YOU TO COME AND STAY WITH US</h1><p></p>
        <hr>
    </div>
    <br>
    <div class="container col-md-7  text-content">
        <p style="text-align: justify;"><br><br> <br> Book, stay and discover true comfort and style at The Raintree, St. Mary's Road. We look forward to putting our best efforts into making your stay a memorable one. In case of any confusion or difficulty while making reservations online, please contact our team and we'll look after the rest.</p><p></p>
        <br>
    </div>
</div>
{% endblock %}