{% extends 'sub.html' %}
{% block title %} Branch1 {% endblock %}
{% load static %}
{% block content %}
<div class="row">
    <img class="image-fluid" src="{% static 'images/branch1.jpg' %} "  width='100%' height="640px" alt="First slide">
</div>

<div class="row container m-3 text-white">
    <div class="col-sm-4 left-box text-content">
        <br><hr><h1 class="disply-1 d-flex justify-content-center">WE KNOW THE PLEASURES OF TRULY SPOILING ONESELF</h1><hr><br>
    </div>
    <div class="col-sm-8 ">
        <p>At The Raintree, we make sure to give you the best possible facilities and services in Chennai, that will make you never want to leave us. With its inviting spaces and modern services for business and leisure travellers, which include concierge service, airport transfers, valet, and Wi-Fi, everything is always available whenever you need it. Relax in our rooftop pool overlooking the cityscape, and stay connected with a high-tech business centre, conference and meeting rooms along with the highest level of personalised hospitality, our guests will know what it is to be truly spoilt.</p>
        
<div class="table-responsive">
    <h3>Services + Amenities</h3>
    <table  cellpadding="1" cellspacing="1" style="width: 100%;"><tbody>
        <tr>
            <td>
                <h4>PAID SERVICES</h4>
                <ul>
                    <li>Baby Sitting Services</li>
                    <li>Restaurants & Bars</li>
                    <li>Express Laundry & Dry Cleaning</li>
                    <li>Limo or Town Car Hire</li>
                    <li>Event Catering</li>
                    <li>Gift Shop</li>
                    <li>Currency Exchange</li>
                    <li>Doctor on Call</li>
                    <li>Meeting & Conference Rooms</li>
                    <li>Poolside Bar</li>
                    <li>Business Centre</li>
                    <li>Air-conditioning</li>
                    <li>Airport Transportation</li>
                </ul>
            </td>
            <td>
                <h4>COMPLIMENTARY SERVICES</h4>
                <ul>
                    <li>Concierge Services</li>
                    <li>24-hour Front Desk</li>
                    <li>Fitness Centre</li>
                    <li>Outdoor Swimming Pool</li>
                    <li>Breakfast</li>
                    <li>High-Speed Wi-Fi</li>
                    <li>Handicap Access</li>
                    <li>24-hour Room Service</li>
                    <li>Valet Parking</li>
                </ul>
            </td>
        </tr></tbody>
    </table>
</div>
<p>Services on Request</p>
<ul>
    <li>Valet Parking</li>
    <li>Doctor on call</li>
</ul>
</div>    
</div>
{% endblock %}