{% load static %}
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/r1.jpg' %}" class="d-block w-100" alt="...">
      </div>
  </div>
</div>
<div class="pay_container">
  <div class="container d-flex" >
    <div class="pay1_image">
      <img src="{% static 'images/r1.jpg'%}" alt="" width="300px" height="250px">
    </div>
    <div class="pa">
      <h2>Payment Cycle</h2>
      <p>Weekly services payment schedule: After every 7 days, invoice will be generated and payment for the same needs to be paid (in advance). Non advance payment may incur penalty of Rs. 50 /day
  
        Fortnight services payment schedule : 50 % advance must be done in case of fortnight services.
        
        Monthly services payment schedule: This will be an advance payment service, so 15 days advance payment will be required to be deposited, else, by default Weekly cycle will be applied.
        Our payment schedules are designed to ensure transparency and ease of payment for our customers while also ensuring that our services are financially sustainable.</p>
     </div>
  </div>
</div>
<div class="container">
  <div class="pay1_container">
    <div class="pay_image">
      <img src="{% static 'images/r3.jpg' %}" alt="" width="300px" height="250px">
    </div>
    <div class="pay">
      <h2>Payment Authorization</h2>
      <p>Once you've selected your payment method, our system will initiate the payment authorization process.
        For credit/debit card transactions, your card details will be securely processed through our encrypted gateway.
        If you opt for other payment methods like digital wallets or bank transfers, follow the provided instructions.
        If you choose other payment methods such as digital wallets or bank transfers, you will be provided with specific instructions on how to proceed. Our goal is to make 
        the payment process as seamless as possible, ensuring that your transaction is processed quickly and securely.</p>
    </div>
  </div>
  <div class="pay2_container">
    <div class="payment1_image">
      <img src="{% static 'images/r1.jpg' %}" alt="" width="300px" height="250px">
    </div>
    <div class="payment">
      <h2>Payment Settlement</h2>
      <p>For credit/debit card transactions, the payment will be settled at the time of order placement.
          Other payment methods may involve settlement at different stages, depending on the chosen option
          For other payment methods such as digital wallets or bank transfers, settlement may occur at different stages. These methods may involve additional verification steps or processing times, which can affect the settlement timing. Rest assured, our system is designed to provide
          you with updates and notifications throughout the settlement process, ensuring transparency and convenience..</p>
    </div>
  </div>
  <div class="pay3_container">
    <div class="pay3_image">
      <img src="{% static 'images/r2.jpg' %}" alt="" width="300px" height="250px">
    </div>
    <div class="payment2">
      <h2>Cancellation Policy</h2>
      <p>Cancellation Policy
        You may cancel or reschedule any appointment by calling (+91) 6785439807 or through website or mobile app, no later than 24 hours prior to the scheduled appointment else you will be charged @100% of the service charge.
        
        In case of request for rescheduling Medicare Healthcare service, does not guarantee that it will be able to provide the same Caregiver again and on the rescheduled time.
        
        Medicare Healthcare may cancel or reschedule any appointment without prior notice.</p>
    </div>
  </div>
  
</div>